

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
}

div{
    display: block
}

.card-item {
    font-family: "Homemade Apple", cursive;
    font-family: 'Concert One', cursive;
    background-color: rgb(255, 248, 165);
    box-shadow: -10px 7px 7px lightgrey;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
}


.card-item-message {
    text-align: center;
    font-size: 1.4rem;
    word-break: break-word;
}
