
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  margin: 3rem;
  font-family: 'Open Sans', sans-serif;
  color: #267A9E;
}


h1{
  font-size:30px;
  font-family: 'Righteous', cursive;
  color:#51A885;
  
  letter-spacing: 5px;
  -webkit-text-stroke: .25px #51A885;
  font-weight: bold;
  padding-left: 20px;
  border: 2px solid #73AD21;
  border-radius: 25px;

}
h2,
h3,
h4{
  font-size: x-large;
  padding: 0.6em 1em;
  text-transform: uppercase;
  font-family: "Archivo Black", "Archivo", sans-serif;
  font-weight: normal;
  display: block;
}

h5{
  font-size:26px;
  font-family: 'Righteous', cursive;
  color:#51A885;
  border: 2px solid #73AD21;
  border-radius: 25px;
  padding-left: 10px;
 
  font-weight: bold;

}




footer {
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1 0 auto;
}

.boards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.boards-list {
  max-height: 9rem;
  min-height: 9rem;
  overflow: scroll;
  margin-right: 2rem;
  border: #73AD21 solid 1px;
}

.new-board-form-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.new-board-form,
.new-card-form{
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  width: 100%;
}

.new-board-form-submit-btn,
.new-board-form-toggle-btn{
  padding: 0.5em;
  background-color: white;
  border: 2px solid #73AD21;
}

input {
  box-sizing: content-box;
}

.invalid-form-input {
  border: #DB7476 solid 1px;
  box-shadow: 0 0 7px #DB7476;
}

.playful span {
  position: relative;
  color: #267a9e;
  animation: scatter 1.75s infinite;
}
.playful span:nth-child(6n+1) {
  color: #51a885;
  animation-delay: 0.3s;
}
.playful span:nth-child(6n+2) {
  color: #f5a936;
  animation-delay: 0.15s;
}
.playful span:nth-child(6n+3) {
  color: #986b9b;
  animation-delay: 0.4s;
}
.playful span:nth-child(6n+4) {
  color: #ed8c37;
  animation-delay: 0.25s;
}
.playful span:nth-child(6n+5) {
  color: #db7476;
  animation-delay: 0.25s;
}
@keyframes scatter {
  0% {
    top: 0;
}
  50% {
    top: -10px;
}
  100% {
    top: 0;
}
}




